# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Secrets
*.p12
*.mobileprovision
